@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--clr-gray);    
    text-align: center;
    padding: 2rem;
}

h1 {
    color: var(--clr-black);
    margin-bottom: 1rem;
}

.search-container {
    margin-bottom: 2rem;
}

input {
    padding: 0.5rem;
    border: 2px solid var(--clr-black);
    border-radius: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--clr-black);
    color: var(--clr-white);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

.pokedex-container {
    display: flex;
    justify-content: center;
}

.pokemon-card {
    background-color: var(--clr-white);
    border-radius: 1rem;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding: 1.5rem;
    text-transform: uppercase;
    width: 300px;
    position: relative;
    text-align: center;
    isolation: isolate;
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-img {
    width: 150px;
    height: auto;
}

.pokemon-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.pokemon-info {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.tipo {
    padding: 0.5rem;
    border-radius: 100vmax;
    color: var(--clr-white);
    font-weight: 600;
}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.normal {
    background-color: var(--type-normal);
}

.fire {
    background-color: var(--type-fire);
}

.water {
    background-color: var(--type-water);
}

.grass {
    background-color: var(--type-grass);
}

.electric {
    background-color: var(--type-electric);
}

.ice {
    background-color: var(--type-ice);
}

.fighting {
    background-color: var(--type-fighting);
}

.poison {
    background-color: var(--type-poison);
}

.ground {
    background-color: var(--type-ground);
}

.flying {
    background-color: var(--type-flying);
}

.psychic {
    background-color: var(--type-psychic);
}

.bug {
    background-color: var(--type-bug);
}

.rock {
    background-color: var(--type-rock);
}

.ghost {
    background-color: var(--type-ghost);
}

.dark {
    background-color: var(--type-dark);
}

.dragon {
    background-color: var(--type-dragon);
}

.steel {
    background-color: var(--type-steel);
}

.fairy {
    background-color: var(--type-fairy);
}
