<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pokédex</h1>
    <div class="search-container">
        <label for="search">Buscar Pokémon:</label>
        <input type="text" id="search">
        <button onclick="searchPokemon()">Buscar</button>
    </div>
    <div class="pokedex-container" id="pokedex"></div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
